*{
margin: 0 auto;
}

h1{
    color: rgba(246, 191, 0, 1) ;
    font-family: 'Anek Tamil', sans-serif;
    font-weight: bold;
    font-size: 70px;
    line-height: 1.1;
    margin-left: 50px;
    padding-top: 120px;
}

i{
    color: rgba(246, 191, 0, 1) ;
}

p{
    color: white;
}

a{
    color: rgba(246, 191, 0, 1) ;
}

.navbar{
    background-color: black;
}

.home{
    background-image:url(./../img/home.jpg);
    width: 100%;
    height: 150vh;
}

.home h2{
    color:rgba(246, 191, 0, 1) ; 
    padding-top: 450px;
    margin-left: 50px;
}

.sport{
    background-color: rgba(36, 39, 46, 1);
}

.boxe{
    width: 200px;
    height: 450px;
    border: solid 4px rgba(246, 191, 0, 1);
    border-radius: 5%;
    background-color: black;
}

.boxe-img{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.pool{
    width: 200px;
    height: 550px;
    border: solid 4px rgba(26, 27, 32, 1);
    border-radius: 5%;
    background-color: black;
}

.pool-img{
    margin: 0;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
}

.basket{
    width: 200px;
    height: 450px;
    border: solid 4px rgba(246, 191, 0, 1);
    border-radius: 5%;
    background-color: black;
}

.basket-img{
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
}

.sport-txt{
    line-height: 2.0;
}

.pool-txt{
    line-height: 2.4;
}

.btn{
    width: 150px;
    height: 40px;
    font-size: 18px;
    position: relative;
    left: 120px;
}

.button{
    width: 150px;
    height: 40px;
    font-size: 18px;
    position: relative;
    left: 120px;
    bottom: 20px;
}


.tarifs{
    background-color: rgba(26, 27, 32, 1);
}

.tarif{
    width: 200px;
    height: 250px;
    border: solid 4px rgba(36, 39, 46, 1);
    border-radius: 5%;
}

.tarif-txt{
    line-height: 2.4;
}

.heading{
    background-color: rgba(36, 39, 46, 1);
}

.middle-tarif{
    width: 200px;
    height: 250px;
    border: solid 4px rgba(246, 191, 0, 1);
    border-radius: 5%;
}

.middle-heading{
    background-color:rgba(246, 191, 0, 1);
}

.service{
    background-color: rgba(36, 39, 46, 1);
}

.dumbbell-img{
    width: 80px;
    height: 80px;
}

.scale-img{
    width: 80px;
    height: 80px;
}

.massage-img{
    width: 80px;
    height: 80px;
}

.img-fluid{
    
}

.prenom{
    width: 50px;
    height: 50px;
}


.review{
    background-color: rgba(26, 27, 32, 1);
}

.comment{
    background-color: rgba(36, 39, 46, 1);
}

.partenaire{
    background-color: black;
}

.about{
    background-image: url(./../img/disque.jpg);
}

.social-media{
    padding-left: 40px;
}

.contact{
    background-color: black;
}

.copiright{
    background-color: black;
}

